@{
    Layout = "~/Areas/App/Views/Layout/Swagger/_Layout.cshtml";
}

@section Scripts {
    <script src="~/view-resources/Areas/app/Views/Swagger/Index.js" asp-append-version="true"></script>
}

<div id="swagger-ui"></div>
